footer{
    background-color: #555;
    position: absolute;
    width: 100%;
   
}
.footerText{
    padding-top: 10px;
    color: white;
    text-align: center;
    
}

.pc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}